<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
<title>上传文件</title>
<link type="text/css" href="./easyui/1.7.0/themes/default/easyui.css" rel="stylesheet"/>
<link type="text/css" href="./easyui/1.7.0/themes/icon.css" rel="stylesheet"/>

<script type="text/javascript" src="./jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="./easyui/1.7.0/jquery.easyui.min.js"></script>
<script type="text/javascript" src="./ajaxUpload.js"></script>

</head>
<body>

<div class="easyui-panel" title="上传文件" style="width:400px;height:auto;overflow:hidden">
       <table style="width:98%;">
           <tr>
			<td>
				<input id="userCode_edit" name="userCode" label="用户名" class="easyui-textbox" style="width:98%"/>
			</td>
		</tr>
        <tr>
			<td>
				<input id="category_edit" name="category" label="图片分类" class="easyui-textbox" style="width:98%"/>
			</td>
		</tr>
           <tr>
               <td>
               	<input id="file_edit" class="easyui-filebox" label="文件" name="file"  data-options="buttonText:'选择',prompt:'请选择文件...'" style="width:98%">
               </td>
           </tr>
           <tr>
               <td>
               	<input id="fileNewName_edit" name="fileNewName" class="easyui-textbox" label="重命名为" style="width:98%"/>
               </td>
           </tr>
           <tr>
               <td>
               		<input id="tags_edit" class="easyui-tagbox" value="" label="添加标签" style="width:98%"/>
			    </td>
           </tr>
           <tr>
               <td>
               	<a href="#" class="easyui-linkbutton" onclick="submit()" style="width:98%">上传</a>
               </td>
           </tr>
       </table>
</div>
</body>
</html>