<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yan.todo.mapper.TaskMapper">
    
    <select id="findTaskByPK" parameterType="long" 
        resultType="com.yan.todo.schema.Task">
        select * from t_task where id=#{id}
    </select>
	
    <select id="countTaskByCondition" parameterType="java.util.Map" resultType="int">
    	select count(*) from t_task
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="validStatus != null and validStatus != ''">
    			validStatus=#{validStatus}
    		</if>
    		<if test="startTime != null">
    			and startTime&gt;=#{startTime}
    		</if>
    		<if test="endTime != null">
    			and endTime&lt;=#{endTime}
    		</if>
    		<if test="userCode != null and userCode != ''">
    			and userCode=#{userCode}
    		</if>
    		<if test="assignTo != null and assignTo != ''">
    			and assignTo=#{assignTo}
    		</if>
    		<if test="title != null and title != ''">
    			<bind name="title" value="'%' + _parameter.title + '%'" />
    			and title like #{title}
    		</if>
    		<if test="emergencyFlag != null and emergencyFlag != ''">
    			and emergencyFlag=#{emergencyFlag}
    		</if>
    		<if test="finishFlag != null and finishFlag != ''">
    			and finishFlag=#{finishFlag}
    		</if>
    	</trim>
    </select>
    
    <select id="findTaskListByCondition" parameterType="java.util.Map" resultType="com.yan.todo.schema.Task">
    	select * from t_task
    	<trim prefix="where" prefixOverrides="and|or"> 
    		<if test="validStatus != null and validStatus != ''">
    			validStatus=#{validStatus}
    		</if>
    		<if test="startTime != null">
    			and startTime&gt;=#{startTime}
    		</if>
    		<if test="endTime != null">
    			and endTime&lt;=#{endTime}
    		</if>
    		<if test="userCode != null and userCode != ''">
    			and userCode=#{userCode}
    		</if>
    		<if test="assignTo != null and assignTo != ''">
    			and assignTo=#{assignTo}
    		</if>
    		<if test="title != null and title != ''">
    			<bind name="title" value="'%' + _parameter.title + '%'" />
    			and title like #{title}
    		</if>
    		<if test="emergencyFlag != null and emergencyFlag != ''">
    			and emergencyFlag=#{emergencyFlag}
    		</if>
    		<if test="finishFlag != null and finishFlag != ''">
    			and finishFlag=#{finishFlag}
    		</if>
    	</trim>
    	
    </select>
    
    <insert id="insertTask" parameterType="com.yan.todo.schema.Task" useGeneratedKeys="true" keyProperty="id">
    	insert into t_task 
    	(title, emergencyFlag, content, userCode, assignTo, deadLine, startTime, endTime, finishFlag, remark, validStatus, insertTime, updateTime) 
    	values 
    	(#{title }, #{emergencyFlag }, #{content }, #{userCode }, #{assignTo}, #{deadLine }, #{startTime }, #{endTime }, #{finishFlag }, #{remark }, #{validStatus }, #{insertTime }, #{updateTime })
    </insert>

    <update id="updateTaskByPK" parameterType="com.yan.todo.schema.Task" >
    	update t_task
    	set title=#{title}, emergencyFlag=#{emergencyFlag}, content=#{content}, userCode=#{userCode}, assignTo=#{assignTo}, deadLine=#{deadLine }, startTime=#{startTime}, endTime=#{endTime}, finishFlag=#{finishFlag}, remark=#{remark}, validStatus=#{validStatus}, updateTime=#{updateTime} 
    	where id=#{id}
    </update>
      
    <update id="updateTaskValidStatusByPK" parameterType="com.yan.todo.schema.Task" >
    	update t_task
	    	set validStatus=#{validStatus}, updateTime=#{updateTime}
	    	where id = #{id}
    </update>
    
    <update id="updateTaskFinishFlagByPK" parameterType="com.yan.todo.schema.Task" >
       	update t_task
	    	set finishFlag=#{finishFlag}, updateTime=#{updateTime}
	    	where id = #{id}
    </update>
    
    <update id="updateTaskEmergencyFlagByPK" parameterType="com.yan.todo.schema.Task" >
       	update t_task
    		set emergencyFlag=#{emergencyFlag}, updateTime=#{updateTime}
            where id = #{id}
    </update>
    
    <update id="updateTaskDeadLineByPK" parameterType="com.yan.todo.schema.Task" >
       	update t_task
    		set deadLine=#{deadLine}, updateTime=#{updateTime}
            where id = #{id}
    </update>
    
</mapper>